envs
.env
.gitignore
*.status
**/.terraform/


# macOS 시스템 파일
.DS_Store

# Terraform state files
*.tfstate
*.tfstate.backup

v3/env/prod/files/node_modules/
v3/env/prod/files/package-lock.json
v3/env/prod/files/package.json
 