envs
.env
.gitignore
*.status
**/.terraform/


# macOS 시스템 파일
.DS_Store

# Terraform state files
*.tfstate
*.tfstate.backup

v3/terraform/prod/files/node_modules/
v3/terraform/prod/files/package-lock.json
v3/terraform/prod/files/package.json
 
 v3/modules/argocd_image_updater/terraform.tfstate